{{ember-notify messageStyle='bootstrap' classPrefix="custom-notify"}}


{{#if (eq clicked 'true')}}
<span id="timer">
{{x-timer autoStart='true' format='HH:MM:SS' stopRequired=false}}
</span>
  <div id="scores">
    <span id="first-score" class="star-icon">☆</span>
    <span id="second-score" class="star-icon">☆</span>
    <span id="third-score" class="star-icon">☆</span>
    <span id="fourth-score" class="star-icon">☆</span>
  </div>
{{/if}}

<pre id="pre-code">
  <p id="p-code">

    {{program.code}}

  </p>
</pre>

<!-- {{#code-block language='java'}}
  {{program.code}}
{{/code-block}} -->
<!-- {{#link-to 'login' id='index-button' class="btn btn-primary btn-lg" }}login{{/link-to}} -->
{{#if (eq clicked 'false')}}
  <button {{action "clickCode" program.errorindexes}} class="btn btn-primary btn-lg" id="start-button">Start</button>
{{/if}}
