
{{ember-notify}}
<h2>{{program.title}}</h2>
{{#code-block language='java'}}
<pre>
<p>{{program.code}}</p>
</pre>
{{/code-block}}


<button {{action "clickCode" program.updatedtime}}>Click here to start</button>


{{#if isComplete}}

  <button {{action "clickCode"}}>Retry!</button>

{{else}}
  <button {{action "addLevel"}}>{{#link-to 'beginner' levelNum tagName="li"}}Next Level {{levelNum}}{{/link-to}}</button>


{{/if}}
