
{{ember-notify}}
<h2>{{program.title}}</h2>

<pre>
<p>{{program.code}}</p>

</pre>



<button {{action "clickCode" program.updatedtime}}>Click here to start</button>




{{#if isComplete}}

  <button {{action "clickCode"}}>Retry!</button>

{{else}}
  <button {{action "addLevel"}}>{{#link-to 'intermediate' levelNum tagName="li"}}Next Level {{levelNum}}{{/link-to}}</button>


{{/if}}
