<nav>
  {{#if session.isAuthenticated}}
    <p>Signed in as {{session.data.email}}</p>
  {{/if}}
</nav>
<div class="jumbotron text-center">
  <img id="new-logo" src="assets/images/logo.png" >
  {{#each model as |user|}}
    {{#if (eq session.data.email user.email)}}
      <p>Congradulations {{user.email}}, you've completed the level!</p>
  <div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-4 col-sm-4 col-md-4">
      <div class="container">
        {{#if (eq '1' currentUrl)}}
          {{beginner-one}}
          <button {{action "getCurrentUrl" user}} class="btn btn-info btn-lg">Next Level</button>
        {{/if}}
        {{currentUrl}}
        {{#if (eq '2' currentUrl)}}
          {{beginner-two}}
          <button {{action "getCurrentUrl" user}} class="btn btn-info btn-lg">Next Level</button>
        {{/if}}
        {{#if (eq '3' currentUrl)}}
          {{beginner-three}}
          <button {{action "getCurrentUrl" user}} class="btn btn-info btn-lg">Next Level</button>
        {{/if}}
        {{#if (eq '4' currentUrl)}}
          {{beginner-four}}
          <button {{action "getCurrentUrl" user}} class="btn btn-info btn-lg">Next Level</button>
        {{/if}}
        {{#if (eq '5' currentUrl)}}
          {{beginner-five}}
          <button {{action "getCurrentUrl" user}} class="btn btn-info btn-lg">Next Level</button>
        {{/if}}
        {{#if (eq '6' currentUrl)}}
          {{beginner-six}}
          <button {{action "survey" user}} class="btn btn-info btn-lg">Survey</button>
        {{/if}}
    </div>
    </div>
  </div>
  {{/if}}
{{/each}}
</div>
