<nav>
  <!-- {{#link-to 'index' classNames='navbar-brand'}}
    Home
  {{/link-to}} -->
  {{#if session.isAuthenticated}}
    <p>Logged in as {{session.data.email}}</p>
  {{else}}
    <button onclick={{action 'login'}}>Login</button>
  {{/if}}
</nav>


<div class="jumbotron text-center">
  {{#link-to 'new'}}
    <img id="new-logo" src="assets/images/logo.png">
  {{/link-to}}
<p>Select an excercise you want to play</p>
  <div class="form-horizontal form-group form-group-lg row">

    <div class="levels">
      {{#each model as |p|}}
        {{#if (eq p.difficulty 'beginner')}}
        {{#if (gt session.data.level p.level)}}
          {{#link-to 'programs' p.level class="item-completed"}}
            <img class="item-completed" id={{p.level}} src={{concat (concat "assets/images/beginner/" p.level) ".png"}}>
          {{/link-to}}
          {{else}}
          {{#link-to 'programs' p.level class="item-notcompleted"}}
            <img class="item-notcompleted" id={{p.level}} src={{concat (concat "assets/images/beginner/" p.level) ".png"}}>
          {{/link-to}}
        {{/if}}
        {{/if}}
      {{/each}}


      {{#if (gt session.data.level 6)}}
        {{#link-to 'survey' class="btn btn-primary survey-completed" id="survey"}}
          Survey
        {{/link-to}}
        {{else}}
        {{#link-to 'survey' class="btn btn-primary survey-notcompleted" id="survey"}}
          Survey
        {{/link-to}}
      {{/if}}


      {{#each model as |p|}}
        {{#if (eq p.difficulty 'intermediate')}}
          {{#if (gt session.data.level p.level)}}
            {{#link-to 'programs' p.level class="item-completed"}}
              <img class="item-completed" id={{p.level}} src={{concat (concat "assets/images/intermediate/" p.level) ".png"}}>
            {{/link-to}}
          {{/if}}
        {{/if}}
      {{/each}}

      {{#each model as |p|}}
        {{#if (eq p.difficulty 'intermediate')}}
          {{#if (gt p.level session.data.level)}}
            {{#link-to 'programs' p.level class="item-notcompleted"}}
              <img class="item-notcompleted" id={{p.level}} src={{concat (concat "assets/images/intermediate/" p.level) ".png"}}>
            {{/link-to}}
          {{/if}}
        {{/if}}
      {{/each}}

      {{#each model as |p|}}
        {{#if (eq p.difficulty 'advanced')}}
          {{#if (gt session.data.level p.level)}}
            {{#link-to 'programs' p.level class="item-completed"}}
                <img class="item-completed" id={{p.level}} src={{concat (concat "assets/images/advanced/" p.level) ".png"}}>
            {{/link-to}}
          {{else}}
            {{#link-to 'programs' p.level class="item-notcompleted"}}
                <img class="item-notcompleted" id={{p.level}} src={{concat (concat "assets/images/advanced/" p.level) ".png"}}>
            {{/link-to}}
          {{/if}}
        {{/if}}
      {{/each}}
    </div>

    {{#link-to 'info' class="btn btn-primary" }}
      Info
    {{/link-to}}
    </div>
</div>
